<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How I build components for my website in CraftCMS with Twig</title>
</head>
<body>
  {% set cards = [
    {
      title: 'Card One',
      description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, a.'
    },
    {
      title: 'Card Two',
      description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, a.'
    },
    {
      title: 'Card Three',
      description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, a.'
    }
  ] %}

  <div class="o-grid o-grid--equalHeight o-grid--guttersLarge">
    {% for card in cards %}
      <div class="o-grid__cell u-width-6of12@md">
        {% include '_components/card' with {
          title: card.title,
          description: card.description
        } %}
      </div>
    {% endfor %}
  </div>
</body>
</html>
